* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(27, 27, 27);
}

.login-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.login-container {
  margin-top: 20px;
}

.login-form {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.logo {
  display: flex;
  width: 50px;
  height: 50px;
}

.logo img {
  color: white;
  margin: 5px;
}

.login-title {
  display: flex;
  color: white;
  font-size: 2rem;
}

.welcome-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.welcome-message h1 {
  margin-bottom: 0px;
}
.welcome-message p {
  color: #999;
  font-weight: bold;
  font-size: 1.5rem;
}

.login-container form {
  display: flex;
  flex-direction: column;
  background-color: rgb(39, 39, 39);
  border-radius: 10px;
  padding: 20px 40px;
}

label {
  display: flex;
  color: #999;
  font-weight: bold;
  margin-bottom: 10px;
}

input {
  color: white;
  background-color: rgb(33, 33, 33);
  width: 300px;
  height: 35px;
  border-radius: 5px;
  padding: 0px 10px;
}

.email {
  margin-bottom: 10px;
}

.name input,
.email input,
.password input {
  color: white;
  background-color: rgb(33, 33, 33);
  width: 300px;
  height: 35px;
  border-radius: 5px;
  padding: 0px 10px;
  border: 1px solid black;
}

.name input:focus,
.email input:focus,
.password input:focus {
  outline: none;
}

.highlight-input:focus {
  outline: none;
  border-image: linear-gradient(0.25turn, rgb(30, 210, 240), rgb(30, 240, 120))
    1;
  border-image-width: 1px;
  border-radius: 5px;
}

.password {
  margin-bottom: 30px;
}

.username,
.password {
  font-size: 15px;
}

.login-button {
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 5px 20px;
  background: linear-gradient(0.25turn, rgb(30, 210, 240), rgb(30, 240, 120));
}

.register-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-button {
  display: flex;
  color: #999;
  border: 1px solid #999;
  border-radius: 60px;
  font-size: 1.1rem;
  padding: 10px 108px;
  font-weight: bold;
  text-transform: uppercase;
}

.register-text {
  display: flex;
  color: #999;
  font-weight: 900;
  font-size: 15px;
  padding-top: 20px;
  padding: 10px 110px;
}

.signup-link {
  color: #999;
}

.signup-link:hover {
  text-decoration: none;
  color: white;
}

.register-button:hover {
  color: white;
  background: linear-gradient(0.25turn, rgb(30, 210, 240), rgb(30, 240, 120));
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  width: 50px;
  height: 50px;
}

.display-error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #721c24;
  border-radius: 5px;
  padding: 4px 70px;
  margin-bottom: 15px;
}

.display-error {
  display: flex;
  color: #f8d7da;
}

.seperator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.seperator-left,
.seperator-right {
  display: flex;
  height: 1px;
  width: 200px;
  background-color: #999;
  border-radius: 5px;
}

.seperator p {
  display: flex;
  color: white;
  padding: 8px 15px;
}
